h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* #region form */
.form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.form input[type='text'] {
  padding: 10px 15px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px 0 0 8px;
  outline: none;
  width: 300px;
  transition: border-color 0.3s;
}

.form input[type='text']:focus {
  border-color: #6c8cff;
}

.form button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form button:hover {
  background-color: #6c8cff;
}

@media (max-width: 768px) {
  .form {
    padding: 0 15px;
  }
}

@media (max-width: 480px) {
  .form {
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
  }

  .form input[type='text'] {
    width: 90%;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .form button {
    width: 90%;
    border-radius: 8px;
  }
}
/* #endregion */

/* #region gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin: 0 auto;
    max-width: 1128px;
}

.gallery-item {
    flex-basis: calc((100% - 40px) / 3);
    box-sizing: border-box;
    border: 1px solid #808080;
    border-radius: 8px;
    overflow: hidden;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, transform 0.3s ease;
}

.gallery-item:hover {
    border-color: #6c8cff;
    transform: scale(1.05);
}

.gallery-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.basicLightbox img {
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.image-info {
    padding: 5px;
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #555;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

.info-title {
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.info-value {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.image-tags {
    font-size: 0.9rem;
    color: #555;
    margin-top: 10px;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .gallery-item {
        flex-basis: calc((100% - 20px) / 2);
    }

    .gallery {
        padding: 0 15px;
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex-basis: 100%;
    }

    .gallery {
        padding: 0 10px;
    }

    .image-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .info-item {
        align-items: flex-start;
        text-align: left;
        width: 100%;
    }
}
/* #endregion */

/* #region loader */
.loader-wrapper {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
}

.loader {
    position: relative;
    width: 48px;
    height: 48px;
    color: #ff3d00;
    border-radius: 50%;
    transform: rotateZ(45deg);
    perspective: 1000px;
}

.loader::before,
.loader::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader::after {
    color: #ff3d00;
    transform: rotateY(70deg);
    animation-delay: 0.4s;
}

@keyframes spin {

    0%,
    100% {
        box-shadow: 0.2em 0 0 0 currentcolor;
    }

    12% {
        box-shadow: 0.2em 0.2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 0.2em 0 0 currentcolor;
    }

    37% {
        box-shadow: -0.2em 0.2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -0.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -0.2em -0.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0 -0.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: 0.2em -0.2em 0 0 currentcolor;
    }
}
/* #endregion */

